<h2>Show monitor</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @monitor.name %>
  </li>

  <li>
    <strong>Url:</strong>
    <%= @monitor.url %>
  </li>

  <li>
    <strong>Status:</strong>
    <%= @monitor.status %>
  </li>

</ul>

<%= link "Edit", to: monitor_path(@conn, :edit, @monitor) %>
<%= link "Back", to: monitor_path(@conn, :index) %>
