<h2>
  <%= monitor_label(@monitor) %>
  <small>
    (<%= @monitor.status %>)
  </small>
</h2>

<h3>Uptime</h3>
<p>
  Last 24 hours: <%=  %>
</p>

<h2>Events</h2>
<ul>
  <%= for event <- @events do %>
    <li>
      <%= event.status %> with [<%= event.reason %>] at <%= format_datetime(@conn, event.inserted_at) %>
    </li>
  <% end %>
</ul>

<%= link "Edit", to: monitor_path(@conn, :edit, @monitor) %>
<%= link "Back", to: monitor_path(@conn, :index) %>
