<div class="ui wm-footer inverted vertical segment">
  <div class='ui container'>
    Cosmicvent Software Pvt. Ltd. &copy; 2016 <a href='http://webmonitorhq.com'>http://webmonitorhq.com</a>
  </div>
</div>

