[Unit]
Description=Webmonitor phoenix app
After=network.target

[Service]
User=slugex
WorkingDirectory=/opt/www/slugex
Environment=/opt/www/slugex/config/prod.env
ExecStart=/opt/www/slugex/rel/simple/bin/simple foreground
ExecStop=/opt/www/slugex/rel/simple/bin/simple stop
Restart=always
StandardInput=null
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=%n
KillMode=process
TimeoutStopSec=5
